<%

    /*
    spaページ情報の指定
    */

    const pageData = JSON.parse(include('../../data/page/spa.json'));

%>

<%- include('../common/pc/_head.ejs', {pageData}); %>
<%- include('../common/pc/_header.ejs', {pageData}); %>
    <div class="container">
        <div id="app">
        </div>
    </div>
<%- include('../common/pc/_footer.ejs', {pageData}); %>
<%- include('../common/pc/_foot.ejs', {pageData}); %>
